*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #000;
  background-color: #f9f9f9;
}

.post {
  display: block;
}

.post:not(:last-of-type) {
  margin-bottom: 24px;
}
